@import "../Tool/Tool";

.collapse
{
    &__container
    {
        margin-top: 50px;   
        width: 100%;

        @media(max-width: 765px)
        {
            margin: 30px 0 15px;
        }
    }

    &__item
    {
        padding: 0 113px;
        margin-bottom: 30px;

        &:last-child
        {
            margin-bottom: 0;
        }

        @media(max-width: 1440px)
        {
            padding: 0;
        }

        @media(max-width: 576px)
        {
            margin-bottom: 20px;
        }
    }

    &__title
    {
        @include flexCustom(row,space-between,center,nowrap);    
        @include fontSizeFontWeight(24, 700);
        @include textColorBackgroundColor($blanc, $rouge);
        @include borderRadius(5px);
        padding: 10px 20px 10px 15px;
        line-height: 34px;
        
        @media(max-width: 576px)
        {
            font-size: 13px;
            line-height: 1;
        }
    }

    &__grandeMarge
    {
        position: relative;
        z-index: 10;
    }

    &__icon
    {
        transition: transform 0.3s ease-in-out;

        &:hover
        {
            cursor: pointer;  
        }

        &--down
        {
            transform: rotate(-180deg);
            
        }

        &--up
        {
            transform: rotate(0deg);
        }
    }

    &__text
    {
        @include borderBottomRadius(5px);
        padding: 0;
        z-index: -10;
        background-color: $grisBlanc;
        visibility: hidden;
        height: 0;
        overflow: hidden;
        transform-origin: top;
        transition: visibility 1s ease-in, height 1s ease-in;

        &--open
        {  
            animation-name: deplacementVertical;
            animation-duration: 0.5s;
            font-size: 16px;
            margin-top: -5px;
            padding: 20px 15px 15px;
            visibility: visible;
            height: auto;
        }
    }
}

@keyframes deplacementVertical
{
    0%{
        transform: scaleY(0);
    }
    100%{
        transform: scaleY(1);
    } 
}


