@import "../Tool/Tool";

.collapse
{
    &__container
    {
        margin-top: 50px;   
        width: 100%;

        @media(max-width: 765px)
        {
            margin: 30px 0 15px;
        }
    }

    &__item
    {
        padding: 0 113px;
        height: 52px;
        margin-bottom: 30px;

        &:last-child
        {
            margin-bottom: 0;
        }

        @media(max-width: 1440px)
        {
            padding: 0;
        }

        @media(max-width: 576px)
        {
            height: 30px;
            margin-bottom: 20px;
        }
    }

    &__title
    {
        @include flexRowBetweenCenter;    
        border-radius: 5px;
        color: $blanc;
        background-color: $rouge;
        padding: 10px 20px 10px 15px;
        line-height: 34px;
        font-size: 24px;
        font-weight: 700;
        
        &__icon:hover
        {
            cursor: pointer;
        }
        
        @media(max-width: 576px)
        {
            font-size: 13px;
            line-height: 1;
        }
    }

    &__text
    {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        display: block; 

        &--closed
        {
            display: none;       
        }
    }

    
    

}