@import "../Tool/Tool";

.error
{
    @include flexColumnStartRowCenter;
    justify-content: space-between;

    &__titre
    {
        font-size: 288px;
        font-weight: 700;
        color: $rouge;
        @include marginCentZero;

        @media(max-width: 768px)
        {
            font-size: 96px;
        }

    }

    &__message
    {
        font-size: 36px;
        font-weight: 500;
        color: $rouge;
        text-align: center;

        br
        {
            display: none;
        }

        @media(max-width: 768px)
        {
            font-size: 18px;
            max-width: 260px;

            br
            {
                display: block;
            }
        }
    }

    &__link
    {
        font-size: 18px;
        font-weight: 500;
        color: $noir;
        text-decoration: underline;
        @include marginCentZero;

        @media(max-width: 768px)
        {
            font-size: 14px;
        }
    }
}