@import "../Tool/Tool";

.error
{
    @include flexCustom(column,space-between,center,nowrap);
    
    &__titre
    {
        @include fontSizeFontWeight(288px, 700);
        margin: 100px 0;
        color: $rouge;

        @media(max-width: 768px)
        {
            font-size: 96px;
        }
    }

    &__message
    {
        @include fontSizeFontWeight(36px, 500);
        color: $rouge;
        text-align: center;

        br
        {
            display: none;
        }

        @media(max-width: 768px)
        {
            font-size: 18px;
            max-width: 260px;

            br
            {
                display: block;
            }
        }
    }

    &__link
    {
        @include fontSizeFontWeight(18px, 500);
        margin: 100px 0;
        color: $noir;
        text-decoration: underline;

        @media(max-width: 768px)
        {
            font-size: 14px;
        }
    }
}