@import "../Tool/Tool";

.gallery
{
  margin-top: 50px;
  padding: 56px 50px;
  width: 100%;
  background-color: #F6F6F6;
  @include borderRadius25;
  @include flexRowBetweenWrap;
  @include gap50;

  @media(min-width: 1400px)
  {
    column-gap: 30px;

    &__link
    {
      width: 340px;
    }
  }

  @media(max-width: 1399.98px)
  {
    &__link
    {
      width: 45%;
    }
  }

  @media(min-width: 1024px)
  {
    justify-content: space-between;
    row-gap: 30px;
  }

  @media(max-width: 1023.98px)
  {
    &__link
    {
      width: 100%;
    }
  }

  @media(min-width: 900px)
  {
    row-gap: 50px;
  }

  @media(max-width: 900px)
  {
      background-color: initial;
      margin-top: 27px;
      padding: 0;
      justify-content: center;
  }
}