@import "../Tool/Tool";

.gallery
{
  @include borderRadius(25px);
  @include flexCustom(row,space-between,flex-start,wrap);
  @include rowGapColumnGap($row: 50px, $column: 50px);
  margin-top: 50px;
  padding: 56px 50px;
  width: 100%;
  background-color: #F6F6F6;


  @media(min-width: 1400px)
  {
    row-gap: 30px;

    &__link
    {
      width: 340px;
    }
  }

  @media(max-width: 1399.98px)
  {
    &__link
    {
      width: 45%;
    }
  }

  @media(min-width: 1024px)
  {
    row-gap: 30px;
    justify-content: space-between;
    
  }

  @media(max-width: 1023.98px)
  {
    &__link
    {
      width: 100%;
    }
  }

  @media(min-width: 900px)
  {
    row-gap: 50px;
  }

  @media(max-width: 900px)
  {
    margin-top: 27px;
    padding: 0;
    background-color: initial;
    justify-content: center;
  }
}