@import "../Tool/Mixins";
@import "../Tool/Variables";

.logement
{
    @include flexCustom(row,space-between,flex-start,wrap);
    align-self: flex-start;
    margin-top: 30px;
    width: 100%;
    
    &__infos
    {
        flex-basis: 80%;
        order: -3;
    }

    &__title
    {
        @include fontSizeFontWeight(36px, 500);
        color: $rouge;

        @media(max-width: 768px)
        {
            @include fontSizeFontWeight(18px, 500);
        }
    }
    
    &__area
    {
        @include fontSizeFontWeight(18px, 500);
        margin-top: 10px;
        max-width: 350px;

        @media(max-width: 768px)
        {
            @include fontSizeFontWeight(14px, 500);
        }
    }

    &__host
    {
        @include sizeCustom(167px,64px);
        @include flexCustom(row,flex-end,center,nowrap);

        @media(max-width: 1092px)
        {
            margin-top: 15px;
        }       

        @media(max-width: 768px)
        {
            @include sizeCustom(93px,33px);
        }
    }

    &__name
    {
        @include textColorAlign($rouge,right);
        @include fontSizeFontWeight(18px, 500);
        margin-right: 10px;
        max-width: 93px;

        @media(max-width: 768px)
        {
            @include fontSizeFontWeight(12px, 500);
        }
    }

    &__picture
    {
        @include cercle(64px);

        @media(max-width: 768px)
        {
            @include cercle(32px);
        }   
    }

    &__tags
    {
        @include flexCustom(row,flex-start,flex-start,wrap);
        column-gap: 10px;
        margin-top: 30px;
        max-width: 635px;
        width: 635px;
        
        @media(max-width: 1092px)
        {
            @include fullWidthMaxWidth100;
            row-gap: 5px;
            margin-top: 15px;
            order: -2;
        }
    }

    &__rating
    {
        @include flexCustom(row,flex-start,center,nowrap);
        margin-top: 30px;

        @media(max-width: 1092px)
        {
            order: -1;
            margin-top: 35px;
        }

        @media(max-width:768px)
        {
            margin-top: 15px;
            height: 33px;
        }
    }

    &__descEquip
    {
        @include flexCustom(row,space-between,flex-start,nowrap);
        margin-top: 20px;

        @media(max-width: 1092px)
        {
            row-gap: 20px;
            flex-direction: column;
        }
    }

    &__description, &__equipments
    {
        width: 46%;

        @media(max-width: 1092px)
        {
            width: 100%;    
        }
    }

    .collapse
    {
        &__item
        {
            padding: 0;
        }

        &__title__text
        {
            @include fontSizeFontWeight(17px, 700);

            @media(max-width: 768px)
            {
                @include fontSizeFontWeight(13px, 700);
            }
        }

        &__icon
        {
            @media(max-width: 768px)
            {
                @include fontSizeFontWeight(16px, 700);
            }
        }
    }
}



