@import '../Tool/Tool';

.logement
{
    align-self: flex-start;
    margin-top: 30px;
    @include flexRowBetweenCenter;
    flex-wrap: wrap;
    width: 100%;

    
    &__infos
    {
        max-width: 635px;
        width: 635px; 
    }

    &__title
    {
        font-size: 36px;
        font-weight: 500;
        color: $rouge;
    }

    
    &__area
    {
        max-width: 350px;
        @include font18-500;
    }

    &__host
    {
        width: 167px;
        height: 64px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__name
    {
        @include font18-500;
        color: $rouge;
        text-align: right;
        margin-right: 10px;
        max-width: 93px;
    }

    &__picture
    {
        @include rond64;

        @media(max-width: 768px)
        {
            @include rond32;
        }
    }

    &__tags
    {
        @include flexRowBetweenCenter;
        max-width: 635px;
        margin-top: 15px;
    }

}


