@import "../Tool/Mixins";
@import "../Tool/Variables";

.tag
{
    @include textColorBackgroundColor($blanc,$rouge);
    @include fontSizeFontWeight(14px, 700);
    @include borderRadius(10px);
    padding: 3px 20px 2px;
    height: 25px;
    min-width: 115px;
    text-align: center;

    @media(max-width: 768px)
    {
        @include fontSizeFontWeight(10px, 700);
        min-width: 84px;
        height: 18px;
    }
}