@import '../Tool/Tool';

.tag
{
    background-color: $rouge;
    color: $blanc;
    height: 25px;
    min-width: 115px;
    font-size: 14px;
    font-weight: 700;
    padding: 3px 20px 2px 20px;
    @include borderRadius10;

    &:not(:first-child)
    {
        margin-left: 10px;
    }
}