@import "../Tool/Mixins";
@import "../Tool/Variables";

.banner
{
    @include flexCustom(row,center,center,nowrap);
    @include borderRadius(25px);
    @include sizeCustom(100%, 223px);
    @include shadow;
    position: relative;
    color: $blanc;

    &::before 
    {
        @include absoluteTopLeft;
        @include borderRadius(25px);
        @include sizeCustom(100%,100%);
        content: "";
        background-color: rgba($noir, 0.5);
    }

    &__img
    {
        @include absoluteTopLeft;
        @include borderRadius(25px);
        @include sizeCustom(100%, 223px);
        object-fit: cover;
        z-index: -1;
    }

    &__title
    {
        @include fontSizeFontWeight(48px, 700);
        line-height: 68px;
        z-index: 2;

        @media(max-width: 1024px)
        {
            margin: 0 20px;
            font-size: 32px;
            line-height: 1;
        }

        @media(max-width: 768px)
        {
            font-size: 30px;
            margin-left: 16px;
        }
    }

    @media(max-width: 576px)
    {
        justify-content: flex-start;
        height: 111px;

        &__title
        {
            width: 225px;
            font-size: 24px;
            text-align: left;
        }

        &__img
        {
            height: 111px;
        }       
    }
}