@import "../Tool/Mixins";

/* RESET STYLES PAR DÉFAUT NAVIGATEUR */
  *
  {
    @include zeroMarges;
    outline: none;
    box-sizing: border-box;
    list-style-type: none;
  }

  a
  {
    text-decoration: none;
  }
/* FIN RESET STYLES PAR DÉFAUT NAVIGATEUR */


body 
{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

#root
{
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
}

.main
{
  @include flexCustom(column,flex-start,center,nowrap);
  margin: 50px 100px;
  flex: 1;

  @media(max-width: 768px)
  {
    margin: 20px;
  }
}