//FLEXBOX
@mixin flexCustom($direction, $justify, $align, $wrap)
{
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

//FONT
@mixin fontSizeFontWeight($fontSize, $fontWeight)
{
  font-size: $fontSize;
  font-weight: $fontWeight;
}

//ESPACEMENT
@mixin zeroMarges
{
  margin: 0;
  padding: 0;
}

@mixin rowGapColumnGap($row, $column)
{
  row-gap: $row;
  column-gap: $column;
}

//TAILLE
@mixin sizeCustom($width,$height)
{
  width: $width;
  height: $height;
}

@mixin fullWidthMaxWidth100
{
  max-width: 100%;
  width: 100%; 
}

@mixin absoluteTopLeft
{
  position: absolute;
  top: 0;
  left: 0;
}

@mixin absoluteBottomLeft($bottom,$left)
{
  position: absolute;
  bottom: $bottom;
  left: $left;
}

//CERCLE
@mixin cercle($diametre)
{
  width: $diametre;
  height: $diametre;
  border-radius: 50%;
}

//BORDER
@mixin borderRadius($radius)
{
  border-radius: $radius;
}

@mixin borderBottomRadius($radius) 
{
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

//COULEURS
@mixin textColorBackgroundColor($textColor, $backgroundColor) 
{
  color: $textColor;
  background-color: $backgroundColor;
}

@mixin shadow
{
  box-shadow: 0px 4px 4px 0px rgba($noir, 0.25);
}

@mixin textColorAlign($color,$align)
{
  color: $color;
  text-align: $align;
}

@mixin colorUnderline($color)
{
  color: $color;
  text-decoration: underline;
}

//CURSEUR HOVER
@mixin hoverPointer
{
  &:hover
  {
    cursor: pointer;
  }
}