//FLEXBOX
@mixin flexCustom($direction, $justify, $align, $wrap)
{
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

//FONT
@mixin fontSizeFontWeight($fontSize, $fontWeight)
{
  font-size: $fontSize;
  font-weight: $fontWeight;
}

//ESPACEMENT
@mixin zeroMarges
{
  margin: 0;
  padding: 0;
}

//TAILLE
@mixin sizeCustom($width,$height)
{
  width: $width;
  height: $height;
}

@mixin fullWidthMaxWidth100
{
  max-width: 100%;
  width: 100%; 
}

@mixin absoluteTopLeft
{
  position: absolute;
  top: 0;
  left: 0;
}

@mixin absoluteBottom15Left20
{
  position: absolute;
  bottom: 15px;
  left: 20px;
}

//CERCLE
@mixin cercle($diametre)
{
  width: $diametre;
  height: $diametre;
  border-radius: 50%;
}

//BORDER
@mixin borderRadius($radius)
{
  border-radius: $radius;
}

@mixin borderBottomRadius($radius) 
{
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

//COULEURS
$noir: #000000;
$blanc: #FFFFFF;
$rouge: #FF6060;
$gris: #C4C4C4;
$grisClair: #E3E3E3;
$grisBlanc: #FBFBFB;

@mixin textColorBackgroundColor($textColor, $backgroundColor) 
{
  color: $textColor;
  background-color: $backgroundColor;
}