@import "../Tool/Tool";

.header
{
  @include flexCustom(row,space-between,center,nowrap);
  margin: 50px 100px;
}

.header__logo
{
  @include sizeCustom(210px, auto);

  @media(max-width: 768px)
  {
    max-width: 145px;
    height: auto;
  }
}

.navbar
{
  @media(max-width: 768px)
  {
    width: 190px;
  }

  @media(max-width: 320px)
  {
    width: auto;
  }

  &__list
  {
    @include flexCustom(row,flex-end,flex-start,nowrap);
  }

  &__item:last-child 
  {
    margin-left: 57px;

    @media(max-width: 768px)
    {
      margin-left: 26px;
    }
  }

  &__link
  {
    color: $noir;
    @include fontSizeFontWeight(24px, 500);

    &:hover
    {
      cursor: pointer;
    }

    &--selected 
    {
      text-decoration: underline;
    }

    @media(max-width: 768px)
    {
      line-height: 20px;
      font-size: 12px;
      font-variant-caps: all-small-caps;
    }
  }

}


/* AJOUT D'UNE MEDIA QUERY AVEC UN BREAKPOINT POUR LA VERSION MOBILE À 768px*/
@media(max-width: 768px)
{
  .header
  {
    margin: 20px;

    .navbar__item:first-child 
    {
      flex-grow: 1;
      max-width: 55px;
    }
 }
}