@import "../Tool/Mixins";
@import "../Tool/Variables";

.header
{
    @include flexCustom(row,space-between,center,nowrap);
    margin: 50px 100px;

    @media(max-width: 768px)
    {
        margin: 20px;        
    }
}

.header__logo
{
    @include sizeCustom(210px, auto);

    @media(max-width: 768px)
    {
        max-width: 145px;
        height: auto;
    }
}

.navbar
{
    @media(max-width: 768px)
    {
        width: 190px;
    }

    @media(max-width: 320px)
    {
        width: auto;
    }

    &__list
    {
        @include flexCustom(row,flex-end,flex-start,nowrap);
    }

    &__item
    {
        &:first-child
        {
            @media(max-width: 768px)
            {
                flex-grow: 1;
                max-width: 55px;
            }
        }

        &:last-child 
        {
            margin-left: 57px;

            @media(max-width: 768px)
            {
                margin-left: 26px;
            }
        }
    }

    &__link
    {
        @include fontSizeFontWeight(24px, 500);
        @include hoverPointer;
        color: $noir;

        &--selected 
        {
            text-decoration: underline;
        }

        @media(max-width: 768px)
        {
            line-height: 20px;
            font-size: 12px;
            font-variant-caps: all-small-caps;
        }
    }
}